@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/bg1.jpg');
    background-attachment: cover;
}

.imglogo{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 200px;
    height: 200px;
}

h1{
    color: red;
    margin: 15px;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.categ{
    text-align: center;
    margin: 15px 0;
    color: white;
    font-family: 'Domine', serif;
    font-size: 2.4rem;
}

.informaPedido{
    color: white;
    text-align: center;
}

section{
    margin: 0 25px;
    /* display: flex; */
}

#docFritas, #docSobremesas, #docPromocoes{
    margin: 10px;
}

#docFritas > .container > select, #docSobremesas > .container > select, #docPromocoes > .container > select{
    grid-column: 1;
}

hr{
    width: 95%;
    margin: 25px auto;
    border: dashed 1px  yellow;
}

#mostraPremium > hr{
    border-color:gold;
}

#mostraVegan > hr{
    border: dashed 1px darkseagreen;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
    color: white;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
}

img{
    max-width: 100%;
    border-radius: 5px;
    width: 112px;
    height: 112px;
    overflow: hidden;
    justify-self: center;
}

.tituloHamburguer{
    margin-top: 20px;
    grid-column: 1/4;
    font-family: 'Satisfy', sans-serif;
    color: yellow;
    font-weight: bold;
    font-size: 25px;
}

.premium{
    color: gold;
}

.vegan{
    color: darkseagreen;
}

.descricaoHamburguer{
    grid-column: 1/3;
    font-family: 'Oleo Script';
    margin-top: 10px;
}

select{
    width: 45%;
    justify-self: center;
    color: white;
    font-weight: bold;
    background-color: brown;
    border: black;
    padding: 5px;
    font-family: sans-serif;
}

.subtotalValor{
    font-family: 'Oleo Script';
    font-size: 1.1rem;
    margin-top: 5px;
}

button{
    background-color: brown;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 4px;
    border: black;
}

.btnPedir{
    grid-column: 3;
    width: 60%;
    justify-self: center;
    margin-top: 5px;
}

.btn-avancaForm{
    float: right;
    margin: 25px;
}

.btn-goBack{
    display: grid;
    margin: 40px  auto;
}

.goBack{
    float: left;
    margin: 25px;
}

.btn-avanca{
    float: right;
    margin: 25px;
}

/*Menu Combos*/

.listaCombosMenu{
    display: flex;
    list-style: none;
    width: 400px;
    margin: 20px auto;
    flex-wrap: wrap;
    max-width: 100%;
}

.listaCombosMenu > li{
    margin: 10px auto;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.listaCombosMenu > img{
    flex: 1;
}

.listaCombosMenu > #addCombo1 > img{
    cursor: pointer;
    margin: 0 auto;
    width: 80px;
    height: 100px;
    margin-top: 13px;
}

.listaCombosMenu > #addCombo2 > img{
    margin: 0 auto;
    cursor: pointer;
    width: 190px;
}



/* Página de bebidas */

#docBebidas, #docSmoothie{
    margin: 15px;
}

#docBebidas > .container, #docBebidas > .container > .tituloHamburguer,
#docSmoothie > .container > .tituloHamburguer{
    color: gold;
}

#docBebidas > hr, #docSmoothie > hr{
    border-color: gold;
}

#docBebidas > .container > select,
#docSmoothie > .container > select{
    grid-column: 1;
}

.descricaoBebida{
    color: white;
}

.subMenuBebidas{
    text-align: center;
    color: white;
    font-family: 'Satisfy', sans-serif;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
    /* border-top-style: dotted;
    border-bottom-style: dashed; */
}

#opcMolhos, #opcSucos, #refriCombos, #bolosCombos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    margin: 0 auto;
}

.molhosCss{
    grid-column: 1/4;
    margin: 10px 25px 10px 15px;
    text-align: center;
    background-color: white;
    padding: 7px;
}

#opcMolhos > .container, #opcSucos > .container, #refriCombos > .container, #bolosCombos > .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Satisfy';
    font-weight: bold;
    color: yellow;
}

#opcMolhos > .container > button,
#opcSucos > .container > button,
#refriCombos > .container > button,
#bolosCombos > .container > button{
    margin: 0 auto;
    width: 70px;
}

#divOpc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}

#divOpc > .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin: 0 auto;
}

.adicionaisCss{
    grid-column: 1/3;
    text-align: center;
    background-color: white;
    padding: 7px;
}

#divOpc > .container > .acaiopt{
    grid-column: 1/3;
}

#divOpc > .container > .subtotalValor{
    grid-column: 1;
}

#divOpc > .container > button{
    grid-column: 2;
    height: 30px;
    width: 70px;
}

/*Pagina do Açaí*/

.acaiContent{
    color: #fff;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    font-family: 'Oleo Script';
}

.acaiContent > p{
    text-align: center;
}

.acaiContent .acaiQty, .acaiSize{
    margin: 0 auto;
    
}

#acaiQty{
    width: 100px;
    padding: 5px;
}

#acaiQty > option{
    text-align: center;
}

#acaiSize{
    display: flex;
    max-width: 450px;
    flex-wrap: wrap;
}

#acaiSize > label{
    margin: 7px auto;
}

#acaiSize > label > input{
    margin-right: 7px;
}

.creme, .embutidos, .calda{
    margin: 5px;
}

.creme{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.creme > select{
    width: 150px;
}

.acaiCream, .listaAcaiEmbutidos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.acaiCream > label, .listaAcaiEmbutidos > label{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
}

.acaiCream > label > input, .listaAcaiEmbutidos > label > input{
    /* width: 100px; */
    justify-self: center;
    align-self: center;
    color: yellow;
}

.acaiCream > label > p, .listaAcaiEmbutidos > label > p{
    width: 100px;
    margin: 5px;
    text-align: center;
    /* color: yellow; */
}

.frutas > #acaiFruit{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#acaiFruit > label{
    display: flex;
    margin: 0 2px;
}

#acaiFruit > label > input{
    margin-right: 3px;
}

.listaAcaiFruitSpecial, .listaAcaiFruitSpecial > label{
    display: flex;
}

.listaAcaiFruitSpecial > label{
    margin: 0 auto;
}

.listaAcaiFruitSpecial > label > input{
    margin-right: 7px;
}

.listaExtraAcaiFruitSpecial{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.listaExtraAcaiFruitSpecial > label{
    display: flex;
}

.listaExtraAcaiFruitSpecial > label > input{
    margin-right: 3px;
}

.embutidos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
}

.embutidos > select{
    width: 160px;
    margin: 5px;
}

/* addnsauce */

.listaBtt, .listaAdicionais, #outrasOpc, .listaMolho{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin: 10px auto;
}

.listaBtt > label, .listaAdicionais > label, #outrasOpc > div > label, .listaMolho > label {
    display: flex;
    margin-left: 35px;
}

.listaBtt > label > p, .listaAdicionais > label > p, #outrasOpc > div > label > p, .listaMolho > label > p {
    margin-left: 10px;
}

/* .listaBtt > label > p{
    text-align: center;
    width: 150px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
} */