@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    align-items: center;
    background-image: url('../images/bg1.jpg');
    background-size: cover;
}

.imglogoMain{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 200px;
    height: 200px;
 
   
}

.imglogo{
    display: flex;
    margin: 30px auto;
    max-width: 100%;
    width: 245px;
    height: 245px;
    background-color: rgba(212, 212, 212, 0.924);
    padding: 10px 10px;
    border-radius: 130px;
}

#intro{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    margin: 0 15px;
}

#menu{
    display: flex;
    list-style: none;
    width: 400px;
    margin: 20px auto;
    flex-wrap: wrap;
    max-width: 100%;
   
}

#menu > li{
/* flex: 1 1 200px;
margin: 10px; */
margin: 10px auto;

}

.listaCardapio > img{
    flex: 1;
}

#menu > li > a > .icone{
    margin: 0 20px;
}

#menu > li > a > .iconeham{
    width: 65px;
    height: 60px;
    margin-top: 50px;
    /* margin-right: 15px; */
    margin-left: 30px;
}

#menu > li > a > .iconebebidas{
    height: 100px;
    width: 35px;
    margin-top: 10px;
}

#menu > li > a > .iconefritas{
    height: 60px;
    width: 40px;
    margin-top: 50px;
}

#menu > li > a > .iconedesserts{
    height: 60px;
    width: 40px;
    margin-top: 50px;
    margin-left: 35px;
}

#menu > li > a > .iconepromo{
    height: 80px;
    width: 70px;
    margin-top: 30px;
}

#menu > li > a > .almoco{
    height: 70px;
    width: 90px;
    margin-top: 50px;
}

#menu > li > a > .acai{
    height: 80px;
    width: 60px;
    margin-top: 20px;
}

.listaCardapio > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 17px;
}

footer{
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 120px;
}

.mostraRede{
    display: flex;
    width: 300px;
    margin: 10px auto;
}

.mostraRede > a > img{
    margin-left: 40px;
}

.mostraRede > a{
    text-decoration: none;
    color: white;
}

.mostraRede > a > span{
    margin-left: 10px;
    position: relative;
    top: -14px;
}

.formConfcli{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 400px;
    margin: 0 auto;
}

.confirmaForm{
    /* margin: 0 auto; */
    /* text-align: right; */
    font-weight: bold;
    margin-left: 30px;
}


.secConfirma{
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    margin: 15px auto;
}

.formatxt, .ob{
    margin: 10px 0;
    color: yellow;
}

.formaDePGT{
    background-color: white;
    height: 30px;
    border: solid black;
    border-radius: 6px;
    width: 110px;
    margin: 5px 0;
}

.trocoInput{
    width: 110px;
    border: 3px solid black;
    padding: 3px;
    border-radius: 4px;
} 

.obsBtn{
    display: flex;
    width: 300px;
    justify-items: center;
    align-items: center;
    
}

.obsBtn > textarea{
    width: 200px;
    height: 80px;
    border: solid black;
    border-radius: 6px;
}

.obsBtn > button{
    width: 80px;
    margin-left: 20px;
    background-color: brown;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
}

.obsBtn > button:hover{
    color: yellow;
    transition: 1s;
}

.naoehcli{
    margin-top: 10px;
}

.btn-comprarMais{
    display: flex;
    margin: 15px auto;
    background-color: brown;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
} 

#nomeNoPreenchimento{
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    /* text-align: center; */
}

#endNoPreenchimento{
    color: #fff;
}

#bairroNoPreenchimento{
    color: #fff;
}

#referenciaNoPreenchimento{
    color: #fff;
}

#foneNoPreenchimento{
    color: #fff;
}