@import url('https://fonts.googleapis.com/css?family=Alata:300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Alata', Arial;
}


body{
    background-image: url('../images/bg1.jpg');
    background-size: cover;
    color: red;
}

.imglogo{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 200px;
    height: 200px;
}

h1{
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

table {
    min-width: 70%;
    margin: auto;
    text-align: center;
    table-layout: fixed;
}

table, tr, th, td{
    padding: 7px 0;
    color: white;
    border-collapse: collapse;
    font-size: 13px;
}

th{
    color: yellow;
    padding: 10px 10px;
}

.item{
    font-size: 13px;
}

.descricaoDoHam{
    font-size: 10px;
}

#total, #totalTXT{
    color: rgb(99, 226, 243);
}

button{
    background-color: brown;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
}

.btn-goBack, .goBack, .btn-avancaForm, .btn-comprarMais, #finalizarPedido, #confirmarPedido{
    margin: 20px 10px;
}

.btn-avancaForm, #finalizarPedido, #confirmarPedido{
    float: right;
}

/*Formulario (forms)*/

form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px auto;
}

form > input,
form > select,
form > .endnro > input{
    border: solid 1px black;
    border-radius: 4px;
    padding: 5px;
    margin: 4px;
    background-color: #fff;
}

/*fim do formulario*/
.msgFim{
    display: flex;
    width: 250px;
    padding: 10px;
    color: #fff;
    /* text-align: justify;
    text-align: center; */
    margin: 0 auto;
    margin-right: 180px;
    
}

.btnFim{
    display: flex;
    margin: 20px auto;
    cursor: pointer;
}

#usuario{
    color: #fff;
    margin-left: 7px;
}